.input-group-addon {
    min-width: 100px;
}
.input-group-addon-sm {
    min-width: 50px;
}
[contenteditable].form-control {
    height: initial;
    min-height: 54px;
    white-space: pre-wrap;
}
.smallimg {
    max-width: 100px;
    max-height: 100px;
}
.image {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    background-color: silver;
}
.image img {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.well-sm {
	margin-top: 9px;
	margin-bottom: 9px;
}